body {
  background-color: #FFEDF2;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  zoom: 60%;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

header{
  background-color: lightpink;
  grid-column: span 12;
  text-align:left;
}

h1{
  grid-column: span 12;
  background-color: lightpink;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  color:#CE4C6E;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
 display:inline-block;

}



nav{
  grid-column: span 12;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  display: inline-block;
  float: right;
  
}

nav ul {
  list-style-type:none;
margin: 0px;
padding:0px;
}

nav li{
width: 100px;
margin: 0px;
background-color: #CE4C6E;


}

nav li a{
  text-decoration: none;
  display: block;
  padding: 20px;
  color: lightpink;
  text-align: center;
  
}

nav li a:hover{
  background-color: deeppink;
  text-decoration: none;
}



Main{
  grid-column: span 12;
}

.gallery {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
}
.galimg {
  width: 100%;
}

figure img:hover{
  color: #CE4C6E;
}



figure{
  margin: 0px;
  padding:0px;
  height: 600px;
}

#fdiv{
padding: 0%;
grid-template-columns: 1fr 1fr 1fr;
display: grid;
}

#fdiv a img{
 padding:0px;
 margin:0px;
 width: 100%
}

footer{
  grid-column: span 12;
  margin: 0px;
  background-color: lightpink;
  padding: 10px;
  
}
footer p{
  padding: 0px;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #CE4C6E;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

footer a{
  color: #CE4C6E;
  font-size: 30px;
}
footer a:visited{
  color: #CE4C6E;
}
footer a:hover{
  color: rgb(255, 150, 166);
}

.conmain{
  text-align: center;
  width: 100%;
}

.image{
position: relative;
width: 100%;
}

.image2{
  position: relative;
width: 100%;
}

.image3{
position: relative;
width: 100%;
}

.digart{
  display: block;
  width: 100%;
}

.tradart{
  display: block;
  width: 100%;
}

.sketches{
  display: block;
  width: 100%;
}

.imgoverlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.6);
  color:#FFEDF2;
  font-family:'Dosis', sans-serif;
  font-family:'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.imgoverlay:hover{
  opacity: 1;
}


.imgtitle{
  font-size: 2em;
  font-weight: bold;
}
