body {
  background-color: #FFEDF2;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

header{
  grid-column: span 12;
  background-color: lightpink;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 30px;
  color:#CE4C6E;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.tsbox {
  margin: 20px;
  font-weight: bold;
  font-size: 36px;
  color: rgb(230, 84, 132);
  text-shadow: 2px 2px 2px #000000; /* x, y, blur, color */
}


nav{
  grid-column: span 1;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}

nav ul {
  list-style-type:none;
margin: 0px;
padding:0px;
}

nav li{
width: 100px;
margin: 0px;
background-color: #CE4C6E;

}

nav li a{
  text-decoration: none;
  display: block;
  padding: 20px;
  color: lightpink;
  text-align: center;
}

nav li a:hover{
  background-color: deeppink;
  text-decoration: none;
}

.roundbox{
  padding: 10px;
  width: 250px;
  border: 2px solid #a12d48;
  background-color: #ed88ab;
  border-radius: 10px;
}
Main{
  grid-column: span 12;
}

.gallery {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.galimg {
  width: 100%;
}
figure{
  margin: 0px;
  padding:0px;
  height: 600px;
}

footer{
  grid-column: span 12;
  margin: 0px;
  background-color: lightpink;
  padding: 10px;
  
}
footer p{
  padding: 0px;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: #CE4C6E;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

footer a{
  color: #CE4C6E;
  font-size: 30px;
}
footer a:visited{
  color: #CE4C6E;
}
footer a:hover{
  color: rgb(255, 150, 166);
}
