nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

nav li{
    border: 1px solid black;
    width: 200px;
    margin-bottom:20px ;
    margin-right: 20px;
    background-color: darkred ;
    display: inline-block;
}

nav li a{
    color: azure;
    text-decoration: none;
    display: block;
    padding: 20px;
}
nav li a:hover{
    background-color: firebrick;
}