#divS1{
    background-color:cornflowerblue;
}
.h11{
    color:white;
}
h2{
    color: blue;
}
.span1{
    color: goldenrod;
    font-weight: bold;
}
.h31{
    background-color: yellow;
}
.ps1{
    color: red;
}
.h32{
    color: yellow;
    background-color: green;
}
.ps2{
    background-color: lightgreen;
}
.h33{
    color: red;
}
#divS2{
    background-color: yellow;
}
a{
    color: green;
}